@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zen+Dots&display=swap');

@import './variables.scss';
@import './mixins.scss';

* {
	box-sizing: border-box;
}

body {
	position: relative;
}
main {
	height: 100vh;
	font-family: $font-family;
}
.overlay {
	z-index: 100;
	background-color: $bg-color;

	&.top-border {
		height: 45px;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
	}
	&.bottom-border {
		height: 48px;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
	}
}
.content {
	position: relative;
	max-width: 1920px;
	height: 100%;
	padding: 45px 48px 48px;
}

.background-video {
	position: absolute;
	top: 45px;
	left: 0px;
	bottom: 45px;
	// right: 48px;
	// bottom: 48px;
	z-index: -1;
	// @include size(100vw, 100vh);
	object-fit: contain;
}
