@import './common/variables.scss';
@import './common/mixins.scss';

.cases-section {
	font-family: $font-family;
	display: grid;
	grid-template: [head-start slider-start] auto [head-end list-start] auto [list-end ach-start] auto [ach-end slider-end] / [head-start list-start ach-start] auto [head-end list-end ach-end slider-start] 8fr [slider-end];
	grid-gap: 5vh 56px;
	padding-left: 155px;
}
.cases-header {
	padding-top: 65px;
	grid-area: head;

	h2 {
		margin: 0 0 5px;
	}
}

.cases-list {
	grid-area: list;
	@include grid(grid-template, repeat(5, auto) / min-content, 3vh);
	@include gPos(center, left);
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;

	.cases-dot {
		position: absolute;
		left: -18px;
		background-color: $accent-text-color;
		border-radius: 50%;
		width: 7px;
		height: 7px;
		position: absolute;
		top: 0.5em;
		transition: transform 0.6s ease-out;
	}
}
.cases-item {
	@include font(30px, 90%, $main-second-color, 400);
	cursor: pointer;

	span {
		display: block;
		transition: transform 0.3s ease, color 0.8s $gentle, font-size 0.3s ease;
		transform-origin: left;
	}

	&:hover span {
		color: $accent-hover-color;
	}
	&.active span {
		color: $accent-text-color;
		transform: scale(1.55);
	}
}

.cases-slider-controls {
	display: none;
	grid-area: ctrl;
	padding: 10px 7px;
	width: 240px;
	opacity: 1;
	transition: fill 0.4s ease-out;
	animation: normal 0.1s ease-out sliderContentShow forwards;

	&.hidden {
		animation: normal 0.1s ease-out sliderContentHide forwards;
	}

	.cases-slide-arrow {
		cursor: pointer;
		transition: fill 0.8s $gentle;
		fill: $def-text-color;

		&:hover {
			fill: $accent-text-color;
		}
	}
}
.cases-slider-pages {
	@include grid(grid-template-columns, 1fr min-content 1fr, 9px);
	justify-items: center;
	@include font(18px, 132%, $def-text-color, 400);
	.cases-slider-pages-curr {
		color: $accent-text-color;
	}
}

.achievments-wrapper {
	grid-area: ach;
	align-self: end;
	padding-top: 39px;
	padding-bottom: 12px;
	border-top: 2px solid rgba(16, 17, 20, 0.3);
}
.achievments-list {
	@include grid(grid-template, repeat(3, auto) / auto, 30px);
	list-style-type: none;
	margin: 0;
	padding: 0;

	.achievments-item {
		h3 {
			@include font(36px, 90%, $def-text-color, 400);
			letter-spacing: 0.01em;
			margin: 0 0 9px;
		}
		span {
			@include font(18px, 110%, $main-second-color, 400);
			letter-spacing: 0.01em;
		}
	}
}

// slider
.cases-slider-wrapper {
	grid-area: slider;
	position: relative;
	overflow: hidden;
	background-color: $bg-second-color;
}
.cases-content-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.3s ease-out;
	opacity: 0;
	visibility: hidden;

	&.active {
		visibility: visible;
		opacity: 1;
	}
}
.cases-slide-item {
	position: relative;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	cursor: pointer;

	.slide-gradient-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all 0.4s ease-out;
		opacity: 0.7;
		background: linear-gradient(to bottom, transparent 0, $def-text-color 100%),
			rgba(16, 17, 20, 0.35);
	}

	.custom-slider-error {
		display: flex;
		justify-content: center;
		align-items: center;
		@include font(18px, 1.2em, $accent-text-color);
	}

	&.plb-active {
		cursor: auto;
	}

	&.video-active {
		.slide-item-content,
		.slide-gradient-overlay {
			animation: normal 0.6s ease-out sliderContentHide forwards;
		}

		&:hover {
			.vjs-cases-wrapper {
				transform: none;
			}
		}
	}

	&:hover {
		.vjs-cases-wrapper {
			transform: scale(1.5);
		}
		.slide-gradient-overlay {
			opacity: 1;
		}
	}
}

.slide-item-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	@include grid(grid-template-columns, auto);
	@include gPos(end, center);
	background: url('../assets/background/slider-overlay.png') center/cover;

	&.showreel {
		background: none;
	}

	.slide-play-but {
		position: absolute;
		justify-self: center;
		align-self: center;
		transition: all 0.4s ease-out;
		opacity: 0.8;
	}

	.slide-item-text {
		font-family: $second-family;
		@include font(90px, 110%, $main-text-color, 700);
		padding-bottom: 7vh;
		transition: all 0.4s ease-out;
		text-align: center;
	}

	&:hover {
		.slide-play-but {
			transform: scale(2.5);
		}
		.slide-item-text {
			transform: scale(0.66);
			opacity: 0.6;
		}
	}
}

// Video
.vjs-cases-wrapper {
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-out;

	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&.ugc {
		video {
			object-fit: contain;
		}
	}
}

// playables
.cases-plb-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background: url('../assets/background/slider-overlay.png') center/cover $bg-second-color;
	@include grid(grid-template, repeat(2, auto) / repeat(2, auto), 5vh 5vw);
	justify-content: center;
	align-content: center;
	align-items: center;
	justify-items: center;
	padding: 64px 30px;

	.plb-icon {
		display: block;
		width: 100%;
		height: 100%;
		background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1))
			$bg-second-color;
		clip-path: polygon(0 10%, 8% 0, 100% 0, 100% 100%, 0 100%);
		cursor: pointer;
		transition: all 0.3s ease-out;
		padding: 2px;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			clip-path: polygon(0 10%, 8% 0, 100% 0, 100% 100%, 0 100%);
		}

		&:hover {
			transform: scale(1.1);
		}
		&:hover:active {
			transform: scale(0.9);
		}
	}

	.plb-text {
		position: absolute;
		left: 2px;
		top: 2px;
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		background: linear-gradient(to bottom, transparent 0, $bg-second-color 100%);
		z-index: 3;
		@include font(18px, 1.2em, $main-text-color);
		display: grid;
		justify-items: center;
		align-items: end;
		padding-bottom: 15px;
		text-align: center;
		clip-path: polygon(0 10%, 8% 0, 100% 0, 100% 100%, 0 100%);
	}
}

//Media
@media (min-width: 2200px) {
	.cases-plb-wrapper .plb-icon {
		width: 340px;
		height: 340px;
	}
}
@media (max-width: 1700px) {
	.cases-section {
		padding-left: 50px;
	}
	.cases-slide-item {
		.slide-preview-image {
			height: 100%;
		}
	}
	.slide-item-content {
		.slide-item-text {
			font-size: 50px;
		}
	}
}

@media (max-width: 1500px) {
	.cases-section {
		grid-template-columns: [head-start list-start ach-start] 3fr [head-end list-end ach-end slider-start] 8fr [slider-end];
		grid-gap: 15px 20px;
	}
	.cases-header {
		padding-top: 67px;
	}
	.achievments-wrapper {
		padding-top: 20px;
	}
	.achievments-list {
		grid-gap: 15px;
	}
}

@media (max-width: 1400px) {
	.cases-item.active {
		span {
			transform: scale(1.3);
		}
	}
}

@media (max-width: 1200px) {
	.cases-section {
		grid-template: [head-start] auto [head-end list-start] auto [list-end slider-start] 1fr [slider-end ach-start] auto [ach-end] / [head-start list-start slider-start ach-start] 1fr[head-end list-end slider-end ach-end];
		grid-gap: 10px;
		padding-bottom: 65px;
	}
	.cases-header {
		padding-top: 0;

		h2 {
			margin-bottom: 6px;
		}
	}

	.cases-list {
		grid-template: auto / repeat(5, auto);
		grid-gap: 32px;
	}
	.cases-item {
		font-size: 20px;

		&.active {
			span {
				transform: none;
				font-size: 30px;
			}
		}
	}

	.cases-slide-item {
		display: block;

		.slide-preview-image {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	.cases-dot {
		display: none;
	}

	.achievments-wrapper {
		padding-top: 18px;
		padding-bottom: 0;
	}
	.achievments-list {
		grid-template: auto/ auto auto auto;
		grid-gap: 10px 25px;
		justify-content: space-around;

		.achievments-item {
			h3 {
				font-size: 26px;
				margin: 0 0 8px;
			}
			span {
				font-size: 16px;
			}
		}
	}

	// Video
	.vjs-cases-custom {
		.vjs-control-bar {
			max-width: none;
		}
		.vjs-control-bar,
		.vjs-big-play-button,
		.vjs-menu-button .vjs-menu-content {
			background-color: rgba($bg-second-color, 0.4);
		}
		.vjs-control:focus-visible {
			outline: none;
		}
	}

	// PLB
	.cases-plb-wrapper {
		padding: 25px;
		grid-template: repeat(auto-fit, minmax(150px, auto)) / repeat(auto-fit, 200px);
	}
}

@media (max-width: 768px) {
	.cases-section {
		padding-left: 30px;
		grid-template: [head-start] auto [head-end list-start] 2em [list-end slider-start] 1fr [slider-end ctrl-start] auto [ctrl-end ach-start] auto [ach-end] / [head-start list-start slider-start ctrl-start ach-start] 1fr[head-end list-end slider-end ctrl-end ach-end];
		grid-gap: 20px;
		padding-bottom: 30px;
		background-color: $bg-color;
	}
	.cases-item {
		font-size: 16px;

		&.active {
			span {
				font-size: 22px;
			}
		}
	}
	.cases-slider-wrapper {
		max-width: none;
		justify-self: auto;
	}
	.cases-slider-controls {
		@include grid(grid-template-columns, auto 75px auto);
		justify-content: space-between;
		padding: 5px 7px 10px;
	}
	.achievments-list {
		grid-template: auto auto / auto auto;
		justify-content: space-between;

		.achievments-item {
			h3 {
				font-size: 19px;
				margin: 0 0 5px;
			}
			span {
				font-size: 9px;
			}
		}
		.achievments-item:nth-child(3) {
			grid-column: 1/3;
		}
	}
	.slide-item-content {
		.slide-item-text {
			font-size: 32px;
		}
	}

	// PLB
	.cases-plb-wrapper {
		padding: 15px;
		grid-template: repeat(auto-fit, minmax(120px, auto)) / repeat(auto-fit, minmax(120px, auto));

		.plb-icon {
			&:hover {
				transform: none;
			}
			&:hover:active {
				transform: none;
			}
		}
	}
}

@media (max-width: 575px) {
	.cases-list {
		grid-template: auto auto / repeat(4, auto);
		grid-gap: 10px;
		justify-content: space-between;

		.cases-item:nth-of-type(1) {
			grid-column: 1 / span 4;
			grid-row: 1 / 2;
			justify-self: start;
		}
	}
}

@media (max-width: 450px) {
	.cases-list {
		grid-gap: 10px;
		justify-content: space-between;
	}
	.slide-item-content {
		.slide-item-text {
			padding-bottom: 32px;
		}
	}
}

@media (max-width: 370px) {
	.cases-section {
		padding-left: 15px;
	}
}

// Media Height
@media (max-height: 850px) {
	.cases-section {
		grid-gap: 15px 56px;
	}
	.achievments-wrapper {
		padding-top: 10px;
	}
}

@media (max-height: 800px) {
	.achievments-list {
		.achievments-item {
			h3 {
				margin: 0;
			}
		}
	}
}

@media (max-height: 768px) {
	.cases-section {
		padding: 20px 25px 20px 25px;
	}
	.cases-header {
		padding-top: 45px;
	}
}

@media (max-height: 750px) {
	.cases-plb-wrapper {
		grid-template: repeat(auto-fit, minmax(100px, auto)) / repeat(auto-fit, minmax(100px, auto));
	}
}

@media (min-width: 1200px) and (max-height: 768px) {
	.cases-section {
		padding-right: 0;
	}
	.cases-list {
		grid-gap: 2vh;
	}
	.cases-item {
		font-size: 24px;
	}
	.achievments-list {
		.achievments-item {
			h3 {
				font-size: 28px;
			}
			span {
				font-size: 16px;
			}
		}
	}
}

@media (max-width: 1200px) and (min-width: 768px) and (max-height: 768px) {
	.cases-section {
		padding-bottom: 65px;
	}
}

// Animation
@keyframes sliderContentHide {
	from {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	99% {
		opacity: 0;
	}
	to {
		visibility: hidden;
		opacity: 0;
	}
}
@keyframes sliderContentShow {
	from {
		visibility: hidden;
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	99% {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}
