@import './common/variables.scss';
@import './common/mixins.scss';

.contact-header {
	padding-top: 75px;

	h2 {
		margin: 0 0 15px;
	}
}

.contact-wrapper {
	max-width: 55%;
	height: 100%;
	@include grid(grid-template-rows, min-content 1fr min-content, 50px);
	align-content: space-between;
	padding-left: 155px;
	padding-right: 5vw;
}
.contact-form-wrapper {
	position: relative;
}
.contact-form {
	height: 100%;
	display: grid;
	grid-template-columns: [name-start message-start submit-start] 1fr [name-end email-start submit-end] 1fr [email-end message-end];
	grid-template-rows:
		[name-start email-start] 70px [name-end email-end message-start] 1fr
		[message-end submit-start] auto [submit-end];
	grid-gap: 25px 30px;
	transition: filter 0.3s ease;

	&.form-inactive {
		filter: blur(3px);
	}
	.name-input-wrapper {
		grid-area: name;
	}
	.email-input-wrapper {
		grid-area: email;
	}
	.message-input-wrapper {
		grid-area: message;
	}
	.submit-but-wrapper {
		grid-area: submit;
		justify-self: start;

		button {
			cursor: pointer;

			span {
				position: absolute;
				z-index: 4;
				@include font(28px, 90%, $main-text-color, 400);
				letter-spacing: 0.01em;
			}
		}
	}
}

.input-wrapper {
	position: relative;

	span {
		@include font(20px, 90%, $def-text-color, 400);
		position: absolute;
		left: 27px;
		top: 24px;
		opacity: 0.4;
		transition: all 1s $gentle;
		cursor: text;
	}
}
.contact-input {
	position: relative;
	border: solid 2px rgba(16, 17, 20, 0.4);
	border-radius: 5px;
	background-color: transparent;
	transition: border-color 1s $gentle;
	@include font(22px, 1.32em, $def-text-color, 400);
	@include size(100%, 100%);
	padding: 24px 27px 7px;
	resize: none;

	&.contact-input-wrong {
		border: solid 2px $accent-hover-color;
	}
	&.contact-input-filled + span {
		transform: translateY(-12px);
		opacity: 0.4;
		font-size: 13px;
	}
	&::placeholder {
		color: transparent;
		transition: color 1s $gentle;
	}
	&:focus-visible {
		border-color: $def-text-color;
		outline: none;

		&::placeholder {
			color: $def-text-color;
		}
		&.textarea::placeholder {
			color: #6b6b6b;
		}
		& + span {
			transform: translateY(-12px);
			font-size: 14px;
		}
	}
}
.form-send-result-wrapper {
	position: absolute;
	left: 50%;
	bottom: 45%;
	margin-right: -50%;
	transform: translateX(-50%);
	padding: 5px;
	background: $bg-second-color;
	border-radius: 5px;
	@include font(22px, 1.32, $main-text-color, 500);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	z-index: 10;
	width: 320px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	&.show-message {
		opacity: 1;
		visibility: visible;
	}
}
.email-link-wrapper {
	a {
		@include font(16px, 90%, $def-text-color, 400);
		letter-spacing: 0.01em;
	}
}

// Media
@media (max-width: 1700px) {
	.contact-wrapper {
		max-width: 70%;
	}
}
@media (max-width: 1200px) {
	.contact-wrapper {
		max-width: 100%;
		padding: 0;
	}
	.contact-header {
		padding: 0;
	}
}
@media (max-width: 768px) {
	.contact-section {
		background-color: $bg-color;
	}
	.contact-form {
		grid-template-columns: [name-start email-start message-start submit-start] 1fr [name-end email-end message-end submit-end];
		grid-template-rows:
			[name-start] 70px [name-end email-start] 70px [ email-end message-start] 1fr
			[message-end submit-start] auto [submit-end];
		grid-gap: 16px;
	}
	.email-link-wrapper {
		a {
			font-size: 14px;
		}
	}
}
@media (max-height: 768px) {
	.contact-header {
		padding: 0;
	}
}
