@import './common/variables.scss';
@import './common/mixins.scss';

header {
	position: relative;
	font-family: $font-family;
}
.desc-wrapper {
	@include grid(grid-template-columns, min-content min-content);
	position: fixed;
	top: 45px;
	left: 48px;
	height: 57px;
	z-index: 10;
}
.desc-menu {
	@include grid(grid-template-columns, min-content min-content, 78px);
	@include gPos(center);
	background-color: $bg-color;
}
.menu-list {
	@include grid(grid-template-columns, repeat(5, min-content), 57px);
	@include font(18px, 132%, $main-second-color);
	list-style-type: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.menu-list-item {
	&:hover {
		color: $accent-text-color;
		transition: color 0.8s $gentle;
	}
	&:last-child {
		padding-right: 37px;
	}
}
.menu-corner {
	width: 57px;
	height: 57px;
	background: linear-gradient(135deg, $bg-color 50%, transparent 50%);
}
