@import './common/variables.scss';
@import './common/mixins.scss';

header {
	position: relative;
	font-family: $font-family;
}
.desc-wrapper {
	@include grid(grid-template-columns, min-content min-content);
	position: fixed;
	top: 45px;
	left: 48px;
	height: 57px;
	z-index: 10;
}
.desc-menu {
	@include grid(grid-template-columns, min-content min-content, 78px);
	@include gPos(center);
	background-color: $bg-color;
	position: relative;
}
.desc-menu-dot {
	background-color: $accent-text-color;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	position: absolute;
	top: 6px;
	transition: transform 0.6s ease-out;
}
.menu-list {
	@include grid(grid-template-columns, repeat(5, min-content), 57px);
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu-list-item {
	a {
		text-decoration: none;
		@include font(18px, 132%, $main-second-color);
		opacity: 1;

		&.active {
			opacity: 1;
			color: $accent-text-color;
		}
	}

	&:hover a {
		color: $accent-text-color;
		opacity: 0.8;
		transition: all 0.8s $gentle;
	}
	&:last-child {
		padding-right: 37px;
	}
}
.menu-corner {
	width: 57px;
	height: 57px;
	background: linear-gradient(135deg, $bg-color 50%, transparent 50%);
}
