@import './common/variables.scss';
@import './common/mixins.scss';

.video-modal-overflow {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(16, 17, 20, 0.9);
	z-index: 110;
	backdrop-filter: blur(3px);
	transition: all 0.3s ease;
	opacity: 0;
	visibility: hidden;
	padding: 45px;

	&.video-modal-opened {
		opacity: 1;
		visibility: visible;
	}
	&.tnails-video-mod {
		@include grid(grid-template-rows, 1fr min-content, 45px);
	}
}

.video-modal-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;

	&.tnails-video-mod {
		@include grid(grid-template-rows, 1fr min-content, 45px);
	}
}
.modal-close-icon {
	position: absolute;
	right: 100px;
	top: 100px;
	cursor: pointer;
	z-index: 10;
}
.custom-error-modal {
	@include font($size: 18px, $color: $main-text-color);
}

@media (max-width: 768px) {
	.video-modal-overflow {
		padding: 5%;
	}
}
