@import './common/variables.scss';
@import './common/mixins.scss';

.video-modal-overflow {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(16, 17, 20, 0.9);
	z-index: 110;
	backdrop-filter: blur(3px);
	transition: all 0.3s ease;
	opacity: 0;
	visibility: hidden;
	padding: 45px;

	&.video-modal-opened {
		opacity: 1;
		visibility: visible;
	}
}

.video-modal-wrapper {
	flex-grow: 1;
	display: grid;
	justify-items: center;

	&.tnails-video-mod {
		@include grid(grid-template-rows, 1fr min-content, 45px);
	}
}
.modal-close-icon {
	position: absolute;
	right: 100px;
	top: 100px;
	cursor: pointer;
	z-index: 10;
}
.custom-error-modal {
	@include font($size: 18px, $color: $main-text-color);
}

// tnails data
.tnails-video-wrapper {
	@include grid(grid-template-rows, auto auto);
	width: 340px;
	height: 145px;
}
.tnails-video-header {
	@include grid(grid-template-columns, min-content auto, 36px);
	justify-content: space-between;

	img {
		width: 86px;
		height: 86px;
		border-radius: 50%;
	}
}
.tnails-video-name-pos {
	font-family: $second-family;

	h5 {
		@include font(32px, auto, $main-text-color, 700);
		margin: 0 0 6px;
	}
	span {
		@include font(17px, auto, $main-text-color, 700);
		opacity: 0.5;
	}
}
.tnails-video-company-img {
	justify-self: center;
}

@media (max-width: 768px) {
	.video-modal-overflow {
		padding: 5%;
	}
	.modal-close-icon {
		right: 7%;
		top: 7%;
	}
	.tnails-video-wrapper {
		width: 260px;
	}
	.tnails-video-header {
		img {
			width: 70px;
			height: 70px;
		}
	}
	.tnails-video-name-pos {
		h5 {
			font-size: 26px;
			margin: 0 0 5px;
		}
		span {
			font-size: 13px;
		}
	}
	.tnails-video-company-img {
		justify-self: start;
	}
}
