@import './common/variables.scss';
@import './common/mixins.scss';

.prices-section {
	overflow: hidden;
}
.prices-header {
	padding-top: 75px;
	padding-left: 155px;
	margin-bottom: 20px;

	h2 {
		margin: 0 0 15px;
	}
	span {
		color: $main-text-color;
	}
}

.prices-wrapper {
	padding-left: 155px;
}
.prices-slider-dots {
	display: none;

	.prices-slider-bullet {
		width: 10px;
		height: 10px;
		background-color: $bg-color;
		border-radius: 50%;
		opacity: 0.19;
		transition: all 0.6s ease-out;
	}
	.prices-slider-bullet-active {
		background-color: $accent-text-color;
		opacity: 1;
	}
}
.prices-card {
	max-width: 368px;
	height: auto;
	background-color: $bg-second-color;
	padding: 65px 21px 19px;
	position: relative;
	@include grid(grid-template-rows, auto 1fr auto auto, 18px);
	border: solid 1px #4a4a4a;

	&.prices-first-card {
		background-color: $bg-color;

		h5 {
			color: $def-text-color;
		}

		.card-list {
			color: $def-text-color;
		}
	}
	&.left-top-corner {
		clip-path: polygon(0 10%, 8% 0, 100% 0, 100% 100%, 0 100%);
	}
	&.right-bot-corner {
		border: none;
		clip-path: polygon(100% 0, 100% 90%, 92% 100%, 0 100%, 0 0);

		&:before {
			clip-path: polygon(100% 0, 100% 90%, 92% 100%, 0 100%, 0 0);
			content: '';
			position: absolute;
			left: -1px;
			top: -1px;
			bottom: -1px;
			right: -1px;
			background-color: #4a4a4a;
			z-index: -1;
		}
		&:after {
			clip-path: polygon(100% 0, 100% 90%, 92% 100%, 0 100%, 0 0);
			display: block;
			content: '';
			position: absolute;
			left: 1px;
			top: 1px;
			bottom: 1px;
			right: 1px;
			background-color: $bg-second-color;
			z-index: -1;
		}
	}
}

.card-head {
	@include font(76px, 1em, $accent-text-color, 400);
	opacity: 0.29;
	position: absolute;
	top: 0;
	right: 0;
	letter-spacing: 0.01em;
}
.card-main-text {
	h5 {
		@include font(42px, 1.2em, $main-text-color, 400);
		letter-spacing: 0.01em;
		margin: 0;
	}
	span {
		font-family: $second-family;
		@include font(13px, 132%, $main-second-color, 400);
		letter-spacing: 0.01em;
	}
}
.card-price {
	.price-value {
		@include font(42px, 1.2em, $accent-text-color, 400);
		letter-spacing: 0.01em;
	}
	.price-per-video-value {
		font-family: $second-family;
		@include font(18px, 132%, $main-second-color, 500);
		letter-spacing: 0.01em;
	}
}
.card-list {
	font-family: $second-family;
	@include font(16px, 132%, $main-text-color, 500);
	letter-spacing: 0.01em;
	max-width: 70%;

	ul {
		@include grid(grid-template-rows, repeat(4, auto), 16px);
		margin: 0;
		padding-left: 1em;

		li::marker {
			color: $accent-text-color;
		}
	}
}
.card-button {
	background-color: transparent;
	width: 286px;
	height: 60px;
	border: none;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	transition: all 0.6s ease-in-out;
	@include grid(grid-template-columns, auto);
	justify-items: center;
	align-items: center;

	&.black-but {
		&::before {
			background: url('../assets/background/but-back.png') center no-repeat transparent;
		}
		a {
			color: $main-text-color;
		}
	}

	&::before,
	&:after {
		content: '';
		display: block;
		width: 286px;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	&::before {
		background: url('../assets/background/but-back-default.png') center no-repeat transparent;

		z-index: 2;
	}
	&::after {
		background: url('../assets/background/but-back-hover.png') center no-repeat transparent;
		z-index: 3;
		transform: translateX(-100%);
		transition: all 0.6s ease-in-out;
	}
	&:hover::after {
		transform: translateX(0);
	}

	a {
		position: absolute;
		z-index: 4;
		text-decoration: none;
		@include font(24px, 90%, $def-text-color, 400);
	}
}

// Media
@media (max-width: 1850px) {
	.prices-wrapper {
		padding: 0 28px;
	}
}

@media (max-width: 1200px) {
	.prices-wrapper {
		padding: 0;

		.swiper-wrapper {
			margin-bottom: 30px;
		}
	}
	.prices-header {
		padding: 0;
	}
	.prices-slider-dots {
		display: flex;
		justify-content: center;
		gap: 15px;
	}
}

@media (max-width: 768px) {
	.card-head {
		font-size: 88px;
	}
	.prices-card {
		max-width: 320px;
		padding: 90px 20px 15px;
		grid-gap: 15px;
	}
	.card-main-text {
		h5 {
			font-size: 36px;
		}
		span {
			font-size: 16px;
		}
	}
	.card-price {
		.price-value {
			font-size: 36px;
		}
		.price-per-video-value {
			font-size: 18px;
		}
	}
	.card-list {
		font-size: 16px;

		ul {
			grid-gap: 15px;
		}
	}
}

@media (max-width: 500px) {
	.prices-card {
		max-width: 280px;
	}
	.card-main-text {
		h5 {
			font-size: 31px;
		}
		span {
			font-size: 9px;
		}
	}
	.card-price {
		.price-value {
			font-size: 31px;
		}
		.price-per-video-value {
			font-size: 13px;
		}
	}
	.card-list {
		font-size: 12px;
	}
	.card-button {
		width: 215px;
		height: 45px;

		&.black-but:before,
		&:before,
		&:after {
			width: 100%;
			height: 100%;
			background-size: 100% 100%;
		}
	}
}

@media (max-height: 850px) {
	.prices-card {
		grid-gap: 10px;
	}
	.card-list {
		ul {
			grid-gap: 8px;
		}
	}
}
@media (min-width: 500px) and (max-height: 800px) {
	.prices-card {
		padding-top: 55px;
	}
	.card-head {
		font-size: 65px;
	}
	.card-main-text {
		h5 {
			font-size: 36px;
		}
	}
	.card-price {
		.price-value {
			font-size: 36px;
		}
	}
	.card-button {
		height: 50px;
	}
}
